*{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

body{
    background-image: url(/img/pexels-saturnus99-19655193.jpg);
  background-repeat: no-repeat;
  background-size: cover;
      
.Sarch{
    text-align: center;
    margin-top: 10px;
}
    #btn1{
        height: 40px;
            width: 100px;
            border: none;
            border-radius: 20px;
            font-size: 15px;
            color: black;
            font-weight: 500;
            &:hover{
                     background-color: black;
          color:whitesmoke
            }
    }
    #from{
          height: 40px;
            width: 250px;
            text-align: center;
            border: none;
            border-radius: 20px;
            font-size: 15px;
              border: none;
            font-weight: 500;
            &:hover{
                background-color: black;
          color:whitesmoke
            }
    }
    
      h1{
        color: black;
         font-weight: 400;
         text-align: center;
         margin-top: 20px;
      }

}